.ChangePassword {
    grid-column: 2;
    display: grid;
    width: 100%;
    height: 100vh;
    place-items: center;
}

.ChangePassword .ChangePasswordContainer {
    width: 60%;
    padding: 20px;
    margin-top: 0;
    border: 1px solid gray;
}

.ChangePassword label, Button, .textfield{
    width: 100%;
    margin: 6px 0;
}


.ChangePassword Button{
    margin-top: 10px;
}

.ChangePassword .error{
    width: 100%;
    margin: 2px 0;
    color: tomato;
}
.ChangePassword .header{
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
}
