.LoginContainer {
    grid-column: 2;
    display: grid;
    width: 100%;
    /* height: auto; */
    place-items: center;
    /* /* padding: 10px; */
    /* margin: auto;  */
}


.LoginContainer .LoginForm {
    width: 60%;
    padding: 20px;
    border: 1px solid gray;
    margin: 150px 0;
    /* margin-left: 30px; */
}

.LoginContainer label, Button, .textfield{
    width: 100%;
    margin: 6px 0;
}


.LoginContainer Button{
    margin-top: 10px;
}

.LoginContainer .error{
    width: 100%;
    margin: 2px 0;
    color: tomato;
}
.LoginContainer .header, .footer{
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
}

.LoginContainer .footer{
    text-decoration: underline;
    color: blue;
    margin-bottom: 0;
    margin-top: 10px;
}


